{% comment %} <header> {% endcomment %}
  {% comment %}   <img src="{{ '/images/logo.svg' | relative_url }}" alt="Logo" /> {% endcomment %}
  {% comment %} </header> {% endcomment %}

{% comment %} <nav> {% endcomment %}
  {% comment %}   <ul> {% endcomment %}
    {% comment %}     <li><a href="{{ '/' | relative_url }}">Home</a></li> {% endcomment %}
    {% comment %}     <li><a href="{{ '/about' | relative_url }}">About</a></li> {% endcomment %}
    {% comment %}     <li><a href="{{ '/posts' | relative_url }}">Posts</a></li> {% endcomment %}
    {% comment %}   </ul> {% endcomment %}
  {% comment %} </nav> {% endcomment %}

<div class="post-card">
  <a class="title" href="{{ url }}">
    {{ title }}
  </a>

  <div class="details">
    <b>{{ date | date: "%d %B %Y"  }}</b>
    <br>

    {% comment %} <b>[</b> {% endcomment %}
    {% comment %} <a href="/parchment/tags/#math">math</a>, {% endcomment %}
    {% comment %} <a href="/parchment/tags/#tech">tech</a> {% endcomment %}
    {% comment %} <b>]</b> {% endcomment %}
  </div>

  <div class="subtitle">
    {{ subtitle }}
  </div>
</div>
<hr>
